/* @font-face {
    font-family: MyFont;
    src: url(alfont_com_هلفيتيكا-عربي-.ttf);
  }

.gasoline_table,.foreign_currency_table,.currency_table,.gold_price_table{
    font-family: MyFont;
  } */
  body{
    font-family: droid arabic kufi,sans-serif;
    direction: rtl;
  }
button{
    cursor: pointer;
}

.currency_link{
    text-decoration: none;
    color:#6179a5;
}

.gold-bar_link{
    text-decoration: none;
    color: rgb(202, 172, 0);
    padding: 10px;
}

.gasoline_link{
    text-decoration: none;
    color:#6179a5;
    font-weight: bold;
    padding: 10px;
}

.header{
    display: flex;   
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;    
}

.logo_row{
    /* display: flex;
    flex-direction: row-reverse;
    background-color: #18293c;
    color: aliceblue;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #18293c;
    color: aliceblue;
    justify-content: space-around;
}

.logo{
    padding: 10px;
}

.logo_image{
    width:150px;
}

.head_logo_text{   
    display: flex;
    flex-direction: row;
    font-size: 18px;
    /* flex: 30%; */
}

.egy_btn{
    width: 30px;
    height: 25px;
    background-color:#384d64;
    color: white;
    border-radius: 8px;
    border-color: 38495b;
    margin: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

.face_tele_logo{
    
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-left: 200px;
    /* flex: 40%; */
}

.expandable_menu{
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    
}

.menu{
    width: 30px;
    background-color:#18293c;
    border: 1px solid white;
    box-shadow: #ddd;
    color: white;
    border-radius: 8px;
    border-color: 38495b;
    margin: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.show_list:hover{
    .menu_list{
        display:inline;
    }
}


.menu_list{
    display: none;
}

.list_menu{
    list-style: none;
    color: #ddd;
    padding-right: 0px;
    font-weight: 900;
}

.list_menu >li>a{

    color: #ddd;
    text-decoration: none;
}


.description_row{
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #1d3147;
    margin-bottom: 40px; */

    display: grid;
    grid-template-columns:repeat(9,auto) ;
    background-color: #1d3147;
    justify-content:center;
}

.description_text{

    margin-left: 34px;
    padding: 10px;
    letter-spacing: -.06em;
    font-size: 10px;
    font-weight: 600;
    color: #ddddde;


}

.red_text{
    color:red;
    font-size: 16px;
    
}

.green_text{
    color:#50a973;
    font-size: 16px;
}

.grey_text{
    color: rgba(86, 87, 87,0.7);
    font-size: 15px;
}

.grey_text2{
    color: rgba(86, 87, 87,0.7);
    font-size: 20px;
}



.currency_table{
    border-collapse: collapse;
    font-size: 20px;
    
}
tr:hover{
    background-color: #fafaface;
}

.currency_title{
    font-size: 15px;
}

td{
    padding: 6px;
}
.currency_number{
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.grey_light_text{
    color: lightgray;
    font-size: 16px;
    
}

.light_text{
    font-weight: lighter;
    opacity: 0.7;
}

.title_currency_price{    
    justify-content: space-between;
   color:#6179a5;
    font-size: 25px;
}

.bold_text{
    font-weight: bold;
    color: #2b2a2a;
    width: 220px;
}
.bold_text_num{
    font-weight: bold;
    color: #2b2a2a;
    font-size: 20px;
   
}

.currency_table_header{
    color: #50a973;
    font-size: 18px;
    font-weight: bold;
    text-align:right;
    
}

tr{
    border-bottom: 1px solid #ddd;

}

.change_currency_table_data{
   margin: 5px;
}

.input_btn{
    margin: auto;
    width: 200px;
    height: 35px;
    padding: 8px;
    font-size: 20px;
    font-weight:10px;
}
.currency_grid{
    display: grid;
    gap: 20px;
    
}
.row_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: 1px rgb(219, 219, 219) solid;
   

}
.row_grid:hover{
    background-color: #fafaface;
}









.list_btn{
    width: 140px;
    height:30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px  solid gray;
    padding: 5px;
    color: #747272;
    font-size: large ;

}

.list_btn_text2{
    font-size: larger;
}


.list_btn_2{
    /* display: flex;
    justify-content: space-between; */
    width: 120px;
    height:30px;
    background-color: white;
    border-radius: 5px;
    border: 1px  solid gray;
    padding: 8px;
    color: #747272;
    font-size: large ;

}
.list_btn_arrow{
    margin: auto;
    font-size: smaller;
    margin-right: 5px;
}

.flag_row{
    color:black;
    display: flex;
    flex-direction:row-reverse;

}


.change_currency_grid{
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    border-radius: 5px;
    border: 1px  solid gray;
    border-collapse:separate;

}
.row_one{
    padding: 10px ;
}
.row_two{
    display: flex;
    background-color: rgba(250, 250, 250, 0.9);
    font-size: 25px;
    justify-content: center;
}

.row_three,.row_four {
    display: flex;
    padding: 5px 15px 0px 15px;

}
.row_four{
    padding-bottom: 15px;
}
.change_currency{
    border-radius: 5px;
    border: 1px  solid gray;
    border-collapse:separate;
}

.change_currency_text_header{
    text-align: right; 
    font-size: 25px;
    font-weight:bold;
    padding-bottom: 0;
    padding-top: 0;

}

.sell_buy_row{
    background-color: rgba(250, 250, 250, 0.8);

}

.gold_price_grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    font-size: 22px;
    margin-top: 15px;
}


.grid-item{
    border-bottom: 1px rgb(219, 219, 219) solid; 
    padding: 10px 5;
  }

.gasoline_grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    font-size: 22px;

}

.foreign_currency_grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    font-size: 22px;
    margin-top: 35px;
}
.gold_price{
    margin-top: 20px;
}

.change_currency_table ,.gold_price_table ,.foreign_currency_table ,.gasoline_table{
    font-size: 20px;

}

.image_flag{
    width: 34px;
    height: 18px;
    padding-left:5px;
}
.image_gasoline{
    width: 25px;
    height: 22px;
    padding-left: 5px;
}

.see_all_prices{
    grid-column: span 2;
    text-align: left;
    color: rgb(86, 87, 87);
    font-size: 25px;
    text-decoration: none;
}

.gold_table_header{
    color: rgb(202, 172, 0);
}

.foreign_currency_header1{
    color: rgb(196, 2, 2);
    font-weight: bolder;
}
.foreign_currency_header2{
    color: rgb(196, 2, 2,0.7);
}


.gasoline_header{
    color:#6179a5;
    font-weight: 900;
}

.row2{
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px; */
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 50px;
    
    }

.change_currency_gold_price{
    display: flex;
    flex-direction: column;
}

.col1{    
    margin-left: 50px;  

}

.col2{
    margin-left: 55px;  
       
}



.row3{
    margin-left: auto;
    margin-right: 280px;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: start;    
}

.news_section2{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 8px;
    justify-content: space-around;
    border-top: 1px rgb(219, 219, 219) solid;
}

.news_header{
    /* display: flex;
    justify-content: space-between;
    font-size: 30px;
    flex-direction: row-reverse; */
    display: grid;
    font-size: 45px;
    grid-template-columns: auto  auto;
    gap: 550px;
    justify-content: space-around;
    
}

.col_image_text{
    position: relative;
    text-align: center;
    color: white;
    
}

.centered_text {
    position: absolute;
    bottom: 8px;
    left: 12px;
    font-size: 12px;
  }
  
.news_table{
    border-collapse: collapse;
    border-spacing: 40px  0;
    
}

.news_table_text{
    font-family: MyFont;
    color: rgba(86, 87, 87, 0.911);
    font-size: larger;
}


.image_news{
    margin-top: 18px;
    width: 500px;
    height: 445px;
    border-radius: 8px;

}

.image_table{
    width: 100px;
    height: 88px;
    border-radius: 8px;
} 

.news_row1,.news_row2,.news_row3,.news_row4{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px rgb(219, 219, 219) solid;
}
.news_row4{
    border: white;
}
.news_text_rows{
    margin: 20px;
    margin-top: 0px;
}

.footer {
    background-color:#f7f7f7;
    border-top-width: 2px;
    border-top-style: solid;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;    
 }

 .footer_table{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around; 
    margin-top: 20px;
    
 }

 .footer_table_header{
    font-size: 30px;
 }

 .black_btn{
    display: flex;
    flex-direction: row;
    direction: ltr;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 5px;

}

.list_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(86, 87, 87,0.7);
}

.black_btn_text{
    margin: 5px;
    text-align: center;
}
 
.big_btn_text{
    font-size: 20px;
}

.small_btn_text{
    font-size: 10px;
    letter-spacing: 1px;

}



.apple_icon{
    font-size: 35px;
    margin: 5px;
}
.google_play_image{
    width: 25px;
    height:30px ;
    margin-top: 15px;
    margin-left: 5px;

}

.col2_footer,.col3_footer ,.col4_footer{
    font-family: MyFont;
    margin: 0;
}



@media screen and (max-width: 1400px) {
  
    .description_row{
        display: grid;
        grid-template-columns: repeat(6,auto);
    }

    .row2{
        display: grid;
        grid-template-columns: auto auto;
    }
    .col1{
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px; 
        /* flex: 20%; */
    }

    .col2{
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px; 
        /* flex: 20%; */        
    }

    .col3{
        display: grid;
        grid-template-columns: auto auto;
        gap: 100px;

        /* flex: 15%; */
    }


    td{
        padding: 0.5px;
        font-size: smaller;
    }

    .title_currency_price{
        font-size: smaller;
    }

    .list_btn{
        padding: 1px;
        width: 130px;
        font-size: smaller;
    }

    .row3{
        justify-content: center;
        margin: 0;
    }

    .news_table{
        font-size: 20px;
    }

   
    .grey_text2{
        font-size: 25px;
    }
    
    .footer_table{
        display: grid;
        grid-template-columns: auto  auto auto; 
    
    }

  
  }
 
  @media screen and (max-width: 1000px) {
    .body{
        margin: auto;
        padding: auto;
    }
    .header{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;    
    }
    .description_text:nth-child(n+5){
        display: none;
    }
    .description_row{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }


    .row3{
        justify-content: center;
    }
    .news_header{
        grid-template-columns: auto;
        font-size: 25px;
    grid-template-columns: auto  auto;
    gap: 50px;
    }
    .news_section2{
        grid-template-columns: auto;
    }

    .col_news{
        margin-top: 20px;
    }
 

    .footer_table{
        display: grid;
        grid-template-columns: auto auto; 
    
     }
     .footer {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;    
     }

  }

  @media screen and (max-width: 800px) {
   
    .description_text:nth-child(n+4){
        display: none;
    }
    .logo_row{
        display: grid;
        grid-template-columns: auto ;

    }
    .description_row{
        display: grid;
        grid-template-columns: auto  auto auto;
    }

    .row2{
        display: grid;
        grid-template-columns: auto;
    }
    .col3{
        display: grid;
        grid-template-columns:  auto;

        /* flex: 15%; */
    }
    .news_header{
        grid-template-columns: auto;
        font-size: 25px;
    grid-template-columns: auto  auto;
    gap: 50px;
    }
    .footer_table{
        grid-template-columns: auto; 
    
     }

  }


  @media screen and (max-width: 600px) {
    .description_text:nth-child(n+4){
        display: none;
    }
    .logo_row{
        display: grid;
        grid-template-columns: auto ;

    }
    .description_row{
        display: grid;
        grid-template-columns: auto  auto auto;
    }

    .row2{
        display: grid;
        grid-template-columns: auto;
    }

    .footer_table{
        grid-template-columns: auto; 
    
     }

  }


  @media screen and (max-width: 500px) {
    body{
        margin: auto;
        padding: auto;
    }
    .header{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;    
    }
    .logo_row{
        display: grid;
        grid-template-columns: auto auto auto ;

    }
    .description_row{
        display: grid;
        grid-template-columns:  auto auto auto;
        justify-content: center;
    }

    .description_text {
        margin-left: 10px;
      }
    
      .row_grid{
        gap: 10px;
      }

      .col2{
        margin: auto;
        padding: auto;
      }
      .foreign_currency_grid , .gasoline_grid{
        margin: auto;
        font-size: 25px;
      }

    .row2{
        display: grid;
        grid-template-columns: auto;


    }

    .row3{
        grid-template-columns: auto;
    }

    .image_news{
        width:400;
        height:300;
    }
    .news_header{
        font-size: 25px;
        grid-template-columns: auto  auto;
        gap: 50px;
    }
    .footer_table{
        grid-template-columns: auto;
          
     }

     .footer {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;    
     }

  }
  
